# dependencies
node_modules/

# build output
dist/
out/
build/

# electron-vite
.electron-vite/

# testing
coverage/
test-results/
playwright-report/

# env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
*.swp
*.swo

# misc
*.pem
*.tsbuildinfo
